:root {
  --columns: 3;
  --yellow: hsl(60, 67%, 45%);
  --pink: rgb(255, 141, 141);
  --blue: rgba(64, 98, 187, 1);
  --green: rgba(6, 141, 126, 1);
  --white: rgb(220, 220, 220);
  --bggg: hsla(107, 20%, 55%, 0.593);
}

.history-wrapper {
  background-color: var(--bggg);
  min-height: calc(100vh - 102px);
}

.history-container ul {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  list-style-type: none;
}

.history-container li {
  grid-column-end: span 2;
  width: 100%;
  padding-bottom: 100%;
  margin-top: -50%;
  position: relative;
}

.history-container li:nth-child(2n) {
  grid-column-start: 2;
}

.history-container li::before,
.history-container li::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: 50% 100%, 50% 100%;
  background-position: left, right;
}

.history-container li::before {
  z-index: 1;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  background-repeat: no-repeat;
  background-image: linear-gradient(
      -45deg,
      var(--yellow) 53.5%,
      var(--green) 53.5%,
      var(--green) 60%,
      var(--yellow) 60%
    ),
    linear-gradient(
      45deg,
      var(--yellow) 53.5%,
      var(--green) 53.5%,
      var(--green) 60%,
      var(--yellow) 60%
    );
}

.history-container li::after {
  z-index: 5;
  clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%, 80% 50%);
  -webkit-clip-path: polygon(
    100% 50%,
    50% 100%,
    0 50%,
    20% 50%,
    50% 80%,
    80% 50%
  );
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, var(--yellow) 40%, var(--green) 40%),
    linear-gradient(-45deg, var(--yellow) 40%, var(--green) 40%);
}

.history-container li:nth-child(2n)::before {
  background-image: linear-gradient(
      -45deg,
      var(--pink) 53.5%,
      var(--blue) 53.5%,
      var(--blue) 60%,
      var(--pink) 60%
    ),
    linear-gradient(
      45deg,
      var(--pink) 53.5%,
      var(--blue) 53.5%,
      var(--blue) 60%,
      var(--pink) 60%
    );
}

.history-container li:nth-child(2n)::after {
  background-image: linear-gradient(45deg, var(--pink) 40%, var(--blue) 40%),
    linear-gradient(-45deg, var(--pink) 40%, var(--blue) 40%);
}

.history-container li:nth-child(5n)::before {
  background-image: linear-gradient(
      -45deg,
      var(--blue) 53.5%,
      var(--white) 53.5%,
      var(--white) 60%,
      var(--blue) 60%
    ),
    linear-gradient(
      45deg,
      var(--blue) 53.5%,
      var(--white) 53.5%,
      var(--white) 60%,
      var(--blue) 60%
    );
}

.history-container li:nth-child(5n)::after {
  background-image: linear-gradient(45deg, var(--blue) 40%, var(--white) 40%),
    linear-gradient(-45deg, var(--blue) 40%, var(--white) 40%);
}

.history-container li:nth-child(7n)::before,
.history-container li:nth-child(7n-4)::before {
  background-image: linear-gradient(
      -45deg,
      var(--blue) 53.5%,
      var(--white) 53.5%,
      var(--white) 60%,
      var(--blue) 60%
    ),
    linear-gradient(
      45deg,
      var(--blue) 53.5%,
      var(--white) 53.5%,
      var(--white) 60%,
      var(--blue) 60%
    );
}

.history-container li:nth-child(7n)::after,
.history-container li:nth-child(7n-4)::after {
  background-image: linear-gradient(45deg, var(--blue) 40%, var(--white) 40%),
    linear-gradient(-45deg, var(--blue) 40%, var(--white) 40%);
}

.history-container li:nth-child(9n)::before,
.history-container li:nth-child(9n-5)::before {
  background-image: linear-gradient(
      -45deg,
      var(--green) 53.5%,
      var(--white) 53.5%,
      var(--white) 60%,
      var(--green) 60%
    ),
    linear-gradient(
      45deg,
      var(--green) 53.5%,
      var(--white) 53.5%,
      var(--white) 60%,
      var(--green) 60%
    );
}

.history-container li:nth-child(9n)::after,
.history-container li:nth-child(9n-5)::after {
  background-image: linear-gradient(45deg, var(--green) 40%, var(--white) 40%),
    linear-gradient(-45deg, var(--green) 40%, var(--white) 40%);
}

.history-container img {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  width: 43%;
  left: 50%;
  top: 50%;
  box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%) translateY(-60%);
  transition-property: transform;
  transition-duration: 0.3s;
}

.history-container img:hover {
  transform: translateX(-40%) translateY(-70%) rotatez(25deg);
}
@media (min-width: 350px) {
  .history-container ul {
    padding: 190px 40px;
  }
}
@media (min-width: 600px) {
  :root {
    --columns: 5;
  }
  .history-container li:nth-child(2n) {
    grid-column-start: auto;
  }
  .history-container li:nth-child(4n-1) {
    grid-column-start: 2;
  }
}
@media (min-width: 900px) {
  :root {
    --columns: 7;
  }
  .history-container li:nth-child(4n-1) {
    grid-column-start: auto;
  }
  .history-container li:nth-child(6n-2) {
    grid-column-start: 2;
  }
}
@media (min-width: 1200px) {
  :root {
    --columns: 9;
  }
  .history-container li:nth-child(6n-2) {
    grid-column-start: auto;
  }
  .history-container li:nth-child(8n-3) {
    grid-column-start: 2;
  }
}
@media (min-width: 1500px) {
  :root {
    --columns: 11;
  }
  .history-container li:nth-child(8n-3) {
    grid-column-start: auto;
  }
  .history-container li:nth-child(10n-4) {
    grid-column-start: 2;
  }
}
@media (min-width: 1800px) {
  :root {
    --columns: 13;
  }
  .history-container li:nth-child(10n-4) {
    grid-column-start: auto;
  }
  .history-container li:nth-child(12n-5) {
    grid-column-start: 2;
  }
}
@media (min-width: 2100px) {
  :root {
    --columns: 15;
  }
  .history-container li:nth-child(12n-5) {
    grid-column-start: auto;
  }
  .history-container li:nth-child(14n-6) {
    grid-column-start: 2;
  }
}
.no-history {
  display: flex;
  justify-content: center;
  align-items: center;
}
