body {
  background-color: #efefef;
  color: #2c405e;
  margin: 0;
}

nav {
  background-color: transparent;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}

.header img {
  float: left;
  width: 220px;
  height: 100px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 150%;
}

ul li a {
  margin: 0 10px;
  color: #2c405e;
  position: relative;
  text-decoration: none;
}

ul li a:hover {
  color: rgb(147, 161, 108);
}

header {
  background-image: url("https://github.com/anapao-minchaca/Book2Up/blob/main/frontend/img/bg.png?raw=true");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 63px);
  position: relative;
}

header h1 {
  color: rgb(147, 161, 108);
  text-shadow: rgb(44, 43, 43) 3px 7px;
  font-size: 4em;
  text-align: center;
  width: 60%;
}

.button {
  transition-duration: 0.4s;
  background-color: white;
  padding: 16px 32px;
  color: black;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 130%;
}

.button:hover {
  background-color: rgb(147, 161, 108);
  color: white;
}