nav {
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  float: left;
  width: 200px;
  height: 90px;
  margin: 7px 0px 5px 10px;
}

.link-menu {
  color: black;
  text-decoration: none;
  list-style-type: none;
}

.link-menu:hover {
  color: rgb(147, 161, 108);
}

.avatar-container {
  display: flex;
  margin: 0px 10px 0px 0px;
}
.shopping-cart-logo {
  padding-top: 10px;
  padding-right: 25px;
}
@media (max-width: 530px) {
  .header img {
    width: 150px;
    height: 70px;
  }

  .avatar {
    width: 10!;
    height: 10!;
  }
  .shopping-cart-logo {
    padding-top: 5px;
    padding-right: 15px;
  }
}
